<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobTempo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".InscriptionChoix"/>
        <activity android:name=".Connexion"/>
        <activity android:name=".InscriptionChercheur"/>
        <activity android:name=".InscriptionEntreprise"/>
        <activity android:name=".MainConnecte"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".MainConnecteEntreprise"/>
        <activity android:name=".ChercheurInfo"/>
        <activity android:name=".EntrepriseInfo"/>
        <activity android:name=".CreationOffre"/>
        <activity android:name=".Candidature"/>
        <activity android:name=".CandidatureEntreprise"/>
        <activity android:name=".RecapOffre"/>
        <activity android:name=".RecapOffreChercheur"/>
        <activity android:name=".MonCompteChercheur"/>
        <activity android:name=".ModifierChercheur"/>
        <activity android:name=".ModifierMDP"/>
        <activity android:name=".MonCompteEntreprise"/>
        <activity android:name=".ModifierEntreprise"/>
        <activity android:name=".ModifierOffre"/>
        <activity android:name=".VoirCandidature"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.jobtempo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>